#file: processes.socket
#Author: Utsav Sharma

[Unit]
Description=Implementing the processes services

[Socket]
ListenStream=1087
Accept=yes

[Install]
WantedBy=multi-user.target
